.vscode
.idea
.fleet
bin/*.o
bin_win/*.o
GameJam
api/*.o
*.exe
*.out
cxx/windows/libvault_api.a
windows/*.exe
website/node_modules
BASDGKAFSGL.ggg
dist
api
platforms
bot
MonoBinaries
src_backup
assets_jetpack
for_later
rusty/target
website