bin
GameJam
*.o
src/*.o
api/*.o
build.out
g_build.out
win_build.exe
windows
website/node_modules
BASDGKAFSGL.ggg
assets/flappy_bg.png
assets/kevin.png
assets/flappy.png
assets/PONGON.png
dist
assets/guns
assets/polyjam
assets/scenes/*.static
api
.vscode