{
    "3d_gravity": {
        "x": 0.0,
        "y": -50.0,
        "z": 0.0
    },
    "ambientLight": 0.3,
    "ambient_color": {
        "x": 0.3410596251487732,
        "y": 0.6596207022666931,
        "z": 1.0
    },
    "aspect_height": 1080,
    "aspect_width": 1920,
    "exposure": 1.0,
    "fullscreen_on_launch": false,
    "height": 720,
    "layers": [
        "Default",
        "UI"
    ],
    "linux_compiler": "g++",
    "mainScene": "assets/scenes/main.vault",
    "name": "Vault Engine",
    "post_processing": {
        "bloom": {
            "enabled": false,
            "threshold": 0.5
        },
        "chromatic_aberration": {
            "intensity": 0.0
        },
        "enabled": false,
        "vignette": {
            "enabled": false,
            "intensity": -2.0799999237060547,
            "smoothness": 0.0
        }
    },
    "resizable": true,
    "shadow_mapping": {
        "enabled": false,
        "look_at": {
            "x": 0.0,
            "y": 1.0,
            "z": 0.0
        },
        "map_height": 5000,
        "map_width": 5000,
        "near_far": {
            "x": 1.0,
            "y": 75.0
        },
        "ortho_size": -14.0,
        "position": {
            "x": 12.036592483520508,
            "y": 14.84128189086914,
            "z": -8.24539852142334
        }
    },
    "width": 1280,
    "windows_compiler": "x86_64-w64-mingw32-g++"
}
