@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

body {
	background: rgb(24, 24, 24);
	color: #fff;

	font-family: "Ubuntu", sans-serif;

	margin: 0;
	padding-bottom: 30px;
}

.navBar {
	background: #000;
	color: #fff;
	width: 100%;
	height: 75px;
	position: fixed;
	z-index: 10000;
	/* font-weight: 500; */
	font-size: 23px;
	display: flex;
	align-items: center;
	padding: 5px;
}

.navBar img {
	margin-right: 15px;
}

.navBar a {
	margin-left: 15px;
	cursor: pointer;
	text-decoration: none;
	color: white;
	transition: ease-in-out 150ms;
}

.navBar a:hover {
	color: #ff324d;
}

.showcase {
	width: 100%;
	height: 700px;

	/* padding-top: 400px; */

	background-image: url(../public/prev1.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}

.cards {
	margin-top: 150px;
	min-height: 200px;
	/* background-image: url(../public/pattern.svg); */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	padding: 25px;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	gap: 5rem;
}

.card {
	vertical-align: top;
	width: calc(400px + 2%);
	min-height: 300px;

	border-radius: 15px;
	position: relative;

	/* background-color: rgb(45, 45, 45); */
}

.card-header {
	vertical-align: top;
	width: 100%;
	height: 30%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: absolute;
	/* background-color: rgb(34, 34, 34); */

	justify-content: center;
	align-items: center;
	display: flex;
	text-align: center;
	flex-direction: column;

	color: rgb(255, 71, 71);
	font-size: 15px;
}

.card-header h3 {
	color: white;
	margin-top: -20px;
}

.needHelp {
	margin-top: 150px;
	min-height: 200px;
	/* background-image: url(../public/pattern.svg); */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.needHelp h1 {
	font-size: 60px;
	color: rgb(255, 49, 49);
	/* margin-bottom: -10px; */
}

@media all and (max-width: 768px) {
	.navBar a {
		font-size: 15px;
	}
}
