{
    "3d_gravity": {
        "x": 0.0,
        "y": -50.0,
        "z": 0.0
    },
    "ambientLight": 0.20000000298023224,
    "ambient_color": {
        "x": 0.443708598613739,
        "y": 0.6573834419250488,
        "z": 1.0
    },
    "aspect_height": 720,
    "aspect_width": 1280,
    "exposure": 1.0,
    "fullscreen_on_launch": false,
    "height": 720,
    "layers": [
        "Default",
        "UI"
    ],
    "linux_compiler": "g++",
    "mainScene": "assets/scenes/main.vault",
    "name": "Vault Engine",
    "post_processing": {
        "bloom": {
            "enabled": false,
            "threshold": 0.5
        },
        "chromatic_aberration": {
            "intensity": 0.0
        },
        "enabled": false,
        "vignette": {
            "enabled": false,
            "intensity": -2.0799999237060547,
            "smoothness": 0.0
        }
    },
    "resizable": true,
    "shadow_mapping": {
        "enabled": true,
        "look_at": {
            "x": 0.0,
            "y": 1.0,
            "z": 0.0
        },
        "map_height": 4096,
        "map_width": 4096,
        "near_far": {
            "x": 1.0,
            "y": 62.5
        },
        "ortho_size": 39.0,
        "position": {
            "x": 7.099999904632568,
            "y": 20.0,
            "z": 10.329999923706055
        }
    },
    "width": 1280,
    "windows_compiler": "x86_64-w64-mingw32-g++"
}
