{
    "ambientLight": 0.20000000298023224,
    "aspect_height": 720,
    "aspect_width": 1280,
    "exposure": 1.0,
    "fullscreen_on_launch": false,
    "height": 720,
    "layers": [
        "Default",
        "UI"
    ],
    "linux_compiler": "g++",
    "mainScene": "assets/scenes/main.vault",
    "name": "Sandbox",
    "post_processing": {
        "bloom": {
            "enabled": false,
            "threshold": 0.5
        },
        "chromatic_aberration": {
            "intensity": 0.0
        },
        "enabled": false,
        "vignette": {
            "enabled": false,
            "intensity": 0.0,
            "smoothness": 0.0
        }
    },
    "resizable": true,
    "shadow_mapping": {
        "enabled": true,
        "look_at": {
            "x": 0.0,
            "y": 1.0,
            "z": 0.0
        },
        "map_height": 4096,
        "map_width": 4096,
        "near_far": {
            "x": 1.0,
            "y": 75.9000015258789
        },
        "ortho_size": 55.0,
        "position": {
            "x": 8.199999809265137,
            "y": 12.5,
            "z": -11.5
        }
    },
    "width": 1280,
    "windows_compiler": "x86_64-w64-mingw32-g++"
}
