{
    "ambientLight": 0.20000000298023224,
    "exposure": 2.880000114440918,
    "fullscreen_on_launch": true,
    "height": 720,
    "layers": [
        "Default"
    ],
    "linux_compiler": "g++",
    "mainScene": "assets/scenes/main.vault",
    "name": "Vault Fortress",
    "post_processing": {
        "bloom": {
            "enabled": false,
            "threshold": 0.5
        },
        "chromatic_aberration": {
            "intensity": 0.0
        },
        "enabled": false,
        "vignette": {
            "enabled": false,
            "intensity": -0.7799999713897705,
            "smoothness": 0.0
        }
    },
    "resizable": true,
    "shadow_mapping": {
        "enabled": true,
        "look_at": {
            "x": 0.0,
            "y": 1.0,
            "z": 0.0
        },
        "map_height": 2048,
        "map_width": 2048,
        "near_far": {
            "x": -48.599998474121094,
            "y": 194.60000610351563
        },
        "ortho_size": 278.0,
        "position": {
            "x": -33.599998474121094,
            "y": 37.5,
            "z": 19.799999237060547
        }
    },
    "width": 1280,
    "windows_compiler": "x86_64-w64-mingw32-g++"
}
